* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

ul {
  list-style: none;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --hightlight-color: rgba(255, 255, 255, 0.2);
}

body {
  background-image: url(./assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
  color: white;
}

body * {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  padding-top: 32px;
  margin-bottom: 48px;
  height: calc(120px + 32px);
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(90deg, #c91842 0%, #5cc2e2 100%);

  border-radius: 50%;

  display: flex;
  padding: 4px;

  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.2);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

header p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

.links ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

.links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector*/
.links ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

section {
  color: white;
  background-image: linear-gradient(90deg, #c91842 0%, #5cc2e2 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  /* Ajuste de mais de uma ul na caixa */
  flex-wrap: wrap;
  gap: 16px;

  margin-top: 24px;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.2);
}

footer {
  color: white;
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #5cc2e2;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/* media queries*/
/* @media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/perfil-dark-edit.png);
  }

  } */

/* animation */
header div {
  animation: fromTop 0.7s 0.2s backwards;
}

main div {
  animation: fromTop 0.7s 0.2s backwards;
}

main section {
  animation: fromBottom 0.7s backwards;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
